.input-text {
  &.input {
    &.error {
      border: 1px solid red;
    }
  }
  &.label {
    &.error {
      color: red;
    }
    font-size: 12px;
    font-weight: 800;
  }
}

form {
  transition: 0.3s;
  border: 1px solid transparent;
  box-sizing: border-box;
  &.selected {
    padding: 4px;
    border: 1px solid orange;
  }
}
