<div class="row">
  <label [ngClass]="{'error': !ngControl.pristine && checkErrors()}" class="input-text label item-width w-100" [for]="id" [innerHtml]="getLabel()"></label>
  <input [ngClass]="{'error': !ngControl.pristine && checkErrors()}" *ngIf="type !== 'textarea'" [(ngModel)]="value" #model="ngModel" [disabled]="disabled"
    class="input-text input item-width w-100" [id]="id" [type]="type">
  <textarea [ngClass]="{'error': !ngControl.pristine && checkErrors()}" *ngIf="type === 'textarea'" [(ngModel)]="value" #model="ngModel" [disabled]="disabled"
    class="input-text input item-width w-100" [id]="id"></textarea>
</div>
