@mixin flex-layout($direction: row) {
  width: 100%;
  display: flex;
  flex-direction: $direction;
  align-items: center;
  flex-flow: $direction wrap;
  justify-content: flex-start;
  position: relative;

  &.jc-space-between {
    justify-content: space-between;
  }
  &.jc-space-evenly {
    justify-content: space-evenly;
  }
  &.jc-center {
    justify-content: center;
  }
  &.jc-flex-end {
    justify-content: flex-end;
  }

  &.ai-flex-start {
    align-items: flex-start;
  }
  &.ai-flex-end {
    align-items: flex-end;
  }
  &.ai-stretch {
    align-items: stretch;
  }
}

@mixin item-width($custom: 50%, $prop: width, $symbol: '%') {

  &.w-100 {
    #{$prop}: 100#{$symbol};
  }
  &.w-95 {
    #{$prop}: 95#{$symbol};
  }
  &.w-90 {
    #{$prop}: 90#{$symbol};
  }
  &.w-85 {
    #{$prop}: 85#{$symbol};
  }
  &.w-80 {
    #{$prop}: 80#{$symbol};
  }
  &.w-75 {
    #{$prop}: 75#{$symbol};
  }
  &.w-70{
    #{$prop}: 70#{$symbol};
  }
  &.w-65 {
    #{$prop}: 65#{$symbol};
  }
  &.w-60 {
    #{$prop}: 60#{$symbol};
  }
  &.w-55 {
    #{$prop}: 55#{$symbol};
  }
  &.w-50 {
    #{$prop}: 50#{$symbol};
  }
  &.w-45 {
    #{$prop}: 45#{$symbol};
  }
  &.w-40 {
    #{$prop}: 40#{$symbol};
  }
  &.w-35 {
    #{$prop}: 35#{$symbol};
  }
  &.w-30 {
    #{$prop}: 30#{$symbol};
  }
  &.w-25 {
    #{$prop}: 25#{$symbol};
  }
  &.w-20 {
    #{$prop}: 20#{$symbol};
  }
  &.w-15 {
    #{$prop}: 15#{$symbol};
  }
  &.w-10 {
    #{$prop}: 10#{$symbol};
  }
  &.w-5 {
    #{$prop}: 5#{$symbol};
  }
  &.w-0 {
    #{$prop}: 0#{$symbol};
  }
  &.w-auto {
    #{$prop}: auto;
  }

  #{$prop}: $custom;
}

@mixin item-height($custom: 50%, $prop: height, $symbol: '%') {

  &.h-100 {
    #{$prop}: 100#{$symbol};
  }
  &.h-95 {
    #{$prop}: 95#{$symbol};
  }
  &.h-90 {
    #{$prop}: 90#{$symbol};
  }
  &.h-85 {
    #{$prop}: 85#{$symbol};
  }
  &.h-80 {
    #{$prop}: 80#{$symbol};
  }
  &.h-75 {
    #{$prop}: 75#{$symbol};
  }
  &.h-70{
    #{$prop}: 70#{$symbol};
  }
  &.h-65 {
    #{$prop}: 65#{$symbol};
  }
  &.h-60 {
    #{$prop}: 60#{$symbol};
  }
  &.h-55 {
    #{$prop}: 55#{$symbol};
  }
  &.h-50 {
    #{$prop}: 50#{$symbol};
  }
  &.h-45 {
    #{$prop}: 45#{$symbol};
  }
  &.h-40 {
    #{$prop}: 40#{$symbol};
  }
  &.h-35 {
    #{$prop}: 35#{$symbol};
  }
  &.h-30 {
    #{$prop}: 30#{$symbol};
  }
  &.h-25 {
    #{$prop}: 25#{$symbol};
  }
  &.h-20 {
    #{$prop}: 20#{$symbol};
  }
  &.h-15 {
    #{$prop}: 15#{$symbol};
  }
  &.h-10 {
    #{$prop}: 10#{$symbol};
  }
  &.h-5 {
    #{$prop}: 5#{$symbol};
  }
  &.h-0 {
    #{$prop}: 0#{$symbol};
  }
  &.h-auto {
    #{$prop}: auto;
  }

  #{$prop}: $custom;
}

.item-height {
  &.vh {
    @include item-height(50%, height, 'vh');
  }
  @include item-height();
}

.item-width {
  &.vw {
    @include item-height(50%, height, 'vh');
  }
  @include item-width();
}

.item-min-height {
  &.vh {
    @include item-height(50%, height, 'vh');
  }
  @include item-height(50%, min-height);
}

.item-min-width {
  &.vw {
    @include item-height(50%, height, 'vh');
  }
  @include item-width(50%, min-width);
}

.item-max-height {
  &.vh {
    @include item-height(50%, height, 'vh');
  }
  @include item-height(50%, max-height);
}

.item-max-width {
  &.vw {
    @include item-height(50%, height, 'vh');
  }
  @include item-width(50%, max-width);
}

.row {
  @include flex-layout();
}

.column {
  @include flex-layout(column);
}
