
@mixin item-margin($custom: 50%, $kind: null) {

  $margin-kind: #{'margin'};

  @if ($kind) {
    $margin-kind: #{'margin-'}#{$kind}
  }

  &.mg-100 {
    #{$margin-kind}: 100%;
  }
  &.mg-95 {
    #{$margin-kind}: 95%;
  }
  &.mg-90 {
    #{$margin-kind}: 90%;
  }
  &.mg-85 {
    #{$margin-kind}: 85%;
  }
  &.mg-80 {
    #{$margin-kind}: 80%;
  }
  &.mg-75 {
    #{$margin-kind}: 75%;
  }
  &.mg-70{
    #{$margin-kind}: 70%;
  }
  &.mg-65 {
    #{$margin-kind}: 65%;
  }
  &.mg-60 {
    #{$margin-kind}: 60%;
  }
  &.mg-55 {
    #{$margin-kind}: 55%;
  }
  &.mg-50 {
    #{$margin-kind}: 50%;
  }
  &.mg-45 {
    #{$margin-kind}: 45%;
  }
  &.mg-40 {
    #{$margin-kind}: 40%;
  }
  &.mg-35 {
    #{$margin-kind}: 35%;
  }
  &.mg-30 {
    #{$margin-kind}: 30%;
  }
  &.mg-25 {
    #{$margin-kind}: 25%;
  }
  &.mg-20 {
    #{$margin-kind}: 20%;
  }
  &.mg-15 {
    #{$margin-kind}: 15%;
  }
  &.mg-10 {
    #{$margin-kind}: 10%;
  }
  &.mg-5 {
    #{$margin-kind}: 5%;
  }
  &.mg-4 {
    #{$margin-kind}: 4%;
  }
  &.mg-3 {
    #{$margin-kind}: 3%;
  }
  &.mg-2 {
    #{$margin-kind}: 2%;
  }
  &.mg-1 {
    #{$margin-kind}: 1%;
  }
  &.mg-0 {
    #{$margin-kind}: 0%;
  }
  &.mg-auto {
    #{$margin-kind}: auto;
  }

  #{$margin-kind}: $custom;
}

.mg {
  @include item-margin()
}

.mg-lft {
  @include item-margin(50%, 'left')
}
.mg-rgh{
  @include item-margin(50%, 'right')
}
.mg-tp {
  @include item-margin(50%, 'top')
}
.mg-btm {
  @include item-margin(50%, 'bottom')
}

.bxs-bdbx {
  box-sizing: border-box;
}
