@mixin desktop {
  @media (min-width: 1281px) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: 1025px) and (max-width: 1280px) {
    @content;
  }
}

@mixin higher-tablets-landscape {
  @media (min-width: 768px) and (max-width: 1024px) {
    @content;
  }
}

@mixin higher-tablets-portrait {
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    @content;
  }
}

@mixin mobiles-landscape {
  @media (min-width: 481px) and (max-width: 767px) {
    @content;
  }
}

@mixin mobile-portrait {
  @media (min-width: 320px) and (max-width: 480px) {
    @content;
  }
}

@mixin prop-desk-mobile($prop, $value, $value-on-mobile) {
  #{$prop}: #{$value};
  @include mobile-portrait() {
    #{$prop}: #{$value-on-mobile};
  }
}
