
@mixin item-padding($custom: 50%, $kind: null) {

  $padding-kind: #{'padding'};

  @if ($kind) {
    $padding-kind: #{'padding-'}#{$kind}
  }

  &.pdg-100 {
    #{$padding-kind}: 100%;
  }
  &.pdg-95 {
    #{$padding-kind}: 95%;
  }
  &.pdg-90 {
    #{$padding-kind}: 90%;
  }
  &.pdg-85 {
    #{$padding-kind}: 85%;
  }
  &.pdg-80 {
    #{$padding-kind}: 80%;
  }
  &.pdg-75 {
    #{$padding-kind}: 75%;
  }
  &.pdg-70{
    #{$padding-kind}: 70%;
  }
  &.pdg-65 {
    #{$padding-kind}: 65%;
  }
  &.pdg-60 {
    #{$padding-kind}: 60%;
  }
  &.pdg-55 {
    #{$padding-kind}: 55%;
  }
  &.pdg-50 {
    #{$padding-kind}: 50%;
  }
  &.pdg-45 {
    #{$padding-kind}: 45%;
  }
  &.pdg-40 {
    #{$padding-kind}: 40%;
  }
  &.pdg-35 {
    #{$padding-kind}: 35%;
  }
  &.pdg-30 {
    #{$padding-kind}: 30%;
  }
  &.pdg-25 {
    #{$padding-kind}: 25%;
  }
  &.pdg-20 {
    #{$padding-kind}: 20%;
  }
  &.pdg-15 {
    #{$padding-kind}: 15%;
  }
  &.pdg-10 {
    #{$padding-kind}: 10%;
  }
  &.pdg-5 {
    #{$padding-kind}: 5%;
  }
  &.pdg-4 {
    #{$padding-kind}: 4%;
  }
  &.pdg-3 {
    #{$padding-kind}: 3%;
  }
  &.pdg-2 {
    #{$padding-kind}: 2%;
  }
  &.pdg-1 {
    #{$padding-kind}: 1%;
  }
  &.pdg-0 {
    #{$padding-kind}: 0%;
  }
  &.pdg-auto {
    #{$padding-kind}: auto;
  }

  #{$padding-kind}: $custom;
}

.pdg {
  @include item-padding()
}

.pdg-lft {
  @include item-padding(50%, 'left')
}
.pdg-rgh{
  @include item-padding(50%, 'right')
}
.pdg-tp {
  @include item-padding(50%, 'top')
}
.pdg-btm {
  @include item-padding(50%, 'bottom')
}

.bxs-bdbx {
  box-sizing: border-box;
}
