.page {
  width: 100%;
  height: 100vh;
  overflow: auto;
  &.graph {
    .graph-container {
      @include prop-desk-mobile(height, #{calc(100vh - (86px * 2))}, #{calc(100vh - (64px * 2))});
    }
  }
  header {
    box-sizing: border-box;
    background-color: get-color("background-light");
    color: choose-contrast("background-light");
    @include flex-layout();
    position: fixed;
    z-index: 300;
    top: 0;
    left: 0;
    width: 100%;
    @include prop-desk-mobile(height, 86px, 64px);
    @include prop-desk-mobile(padding, 12px 20px, 8px 16px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    h1 {
      font-weight: 800;
    }
  }
  footer {
    box-sizing: border-box;
    background-color: get-color("background-light");
    color: choose-contrast("background-light");
    @include flex-layout();
    position: fixed;
    z-index: 300;
    bottom: 0;
    left: 0;
    width: 100%;
    @include prop-desk-mobile(height, 86px, 64px);
    @include prop-desk-mobile(padding, 12px 20px, 8px 16px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    h1 {
      font-weight: 800;
    }
    span,
    i {
      cursor: pointer;
      & i {
        font-size: 2.5em;
      }
      &.to-right {
        margin-right: 0;
        margin-left: auto;
      }
    }
  }
  .graph-container {
    box-sizing: border-box;
    // &.no-header {
    //   margin-top: 0;
    //   height: 100vh;
    // }
    @include prop-desk-mobile(margin-top, 90px, 68px);
    @include prop-desk-mobile(height, calc(100vh - 90px), calc(100vh - 68px));
    @include prop-desk-mobile(padding, 12px 20px, 8px 16px);
    &.auto {
      overflow-y: auto;
    }
    width: 100%;
    overflow: hidden;
  }
}

.masonry {
  position: absolute;
  overflow: hidden;
  padding: 1%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.13);
  transition: 0.3s;
  background: white;
  &.selected {
    top: 0 !important;
    left: 0 !important;
    height: 100% !important;
    width: 100% !important;
    z-index: 2;
  }
  &.type-1 {
    padding: 2%;
    top: 0;
    left: 0;
    height: 30%;
    width: 70%;
  }
  &.type-2 {
    top: 0;
    left: 70%;
    height: 30%;
    width: 30%;
  }
  &.type-3 {
    padding: 2%;
    top: 30%;
    left: 0;
    height: 70%;
    width: 50%;
  }
  &.type-4 {
    top: 30%;
    left: 50%;
    height: 70%;
    width: 50%;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
  i.close-modal {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    height: 32px;
    width: 32px;
    z-index: 2;
  }
}
