<div class="page graph">
  <header *ngIf="title">
    <h1 [innerHtml]="title | uppercase"></h1>
  </header>
  <div class="graph-container" [ngClass]="{'no-header': !title}">
    <router-outlet></router-outlet>
  </div>
  <footer class="row" *ngIf="routerBack || routerForward">
    <span class="row jc-center item-width w-15" (click)="goTo(routerBack)" *ngIf="routerBack"> <i
        class="material-icons">keyboard_arrow_left</i>{{routerBackLabel}}</span>
    <span class="row jc-center item-width w-15 to-right" (click)="goTo(routerForward)"
      *ngIf="routerForward">{{routerForwardLabel}} <i class="material-icons">keyboard_arrow_right</i></span>
  </footer>
</div>
