@function get-color($kind, $sub: null) {
  @if($sub) {
    @return map-get(map-get($global-theme, $sub), $kind);
  } @else {
    @return map-get($global-theme, $kind);
  }
}

@function make-gradient($color-init, $pos-init: 0%, $color-end: transparent, $pos-end: 100%, $angle: to top) {
  @return linear-gradient($angle, $color-init $pos-init, $color-end $pos-end);
}
