<div class="page graph">
  <header *ngIf="title">
    <h1 [innerHtml]="title | uppercase"></h1>
  </header>
  <div class="row ai-flex-start">
    <div class="item-width w-55">
      <div class="graph-container auto" *ngIf="!chartCreator.resetting" [ngClass]="{'no-header': !title}">
        <div class="row jc-space-between">
          <h4 class="item-width w-40">SETTINGS</h4>
          <button (click)="resetForm('_settingForm')" type="button" class="item-width w-20">reset
            form</button>
          <form class="row ai-flex-end jc-space-between" [formGroup]="chartCreator.settingForm">
            {{chartCreator.settingForm.values}}
            <div class="row item-width w-30">
              <input (input)="onChangeInput($event.target.value)" formControlName="withConnectionDots"
                id="checkbox-withDotConnections" type="checkbox">
              <label class="item-width w-90" for="checkbox-withDotConnections">Has dot connections?</label>
            </div>
            <div class="row item-width w-30">
              <input (input)="onChangeInput($event.target.value)" formControlName="showOverflowButton"
                id="checkbox-showOverflowButton" type="checkbox">
              <label class="item-width w-90" for="checkbox-showOverflowButton">Show Overflow button?</label>
            </div>
            <app-input-text (input)="onChangeInput($event.target.value)"
              label="max description lenght (-1 to unlimited)" formControlName="maxDescription"
              class="item-width w-30 mg-tp mg-1">
            </app-input-text>
            <app-input-text (input)="onChangeInput($event.target.value)" label="overflow button text"
              formControlName="overflowButtonText" class="item-width w-30 mg-tp mg-1">
            </app-input-text>
            <app-input-text (input)="onChangeInput($event.target.value)" label="line color (#FFFFFF)"
              formControlName="color" class="item-width w-30 mg-tp mg-1">
            </app-input-text>
            <app-input-text (input)="onChangeInput($event.target.value)" label="line width (min: 1, max: 6)"
              formControlName="width" class="item-width w-30 mg-tp mg-1">
            </app-input-text>
          </form>
        </div>
        <div class="row jc-space-between mg-tp mg-2">
          <h4 class="item-width w-40">ELEMENTS</h4>
          <button (click)="resetForm('elementForms')" type="button" class="item-width w-20">reset
            form</button>
          <form class="row" [formGroup]="chartCreator.elementsFormArray">
            <form class="row jc-space-between" formArrayName="items">
              <ng-container *ngFor="let form of chartCreator.elementsFormArray.get('items').controls; index as i">
                <h5 class="item-width w-100 mg-tp mg-1">ELEMENT ID: element-{{i + 1}}</h5>
                <form class="row jc-space-between mg-tp mg-1" [id]="'element-' + (i + 1)" [formGroupName]="i">
                  <div class="row item-width w-85 jc-space-between ai-flex-end">
                    <app-input-text (input)="onChangeInput($event.target.value)" label="coord X (min: 0, max: 100)"
                      required formControlName="x" type="number" class="item-width w-45 mg-tp mg-1" max="100" min="0">
                    </app-input-text>
                    <app-input-text (input)="onChangeInput($event.target.value)" label="coord Y (min: 0, max: 100)"
                      required formControlName="y" type="number" class="item-width w-45 mg-tp mg-1" max="100" min="0">
                    </app-input-text>
                    <app-input-text (input)="onChangeInput($event.target.value)"
                      label="inner coord X (min: -100, max: 100)" required formControlName="inner_x" type="number"
                      class="item-width w-45 mg-tp mg-1" max="100" min="-100"></app-input-text>
                    <app-input-text (input)="onChangeInput($event.target.value)"
                      label="inner coord Y (min: -100, max: 100)" required formControlName="inner_y" type="number"
                      class="item-width w-45 mg-tp mg-1" max="100" min="-100"></app-input-text>
                    <select (change)="onChangeInput($event.target.value)" required formControlName="type"
                      class="item-width w-30 mg-tp mg-1">
                      <ng-container *ngFor="let elem of chartCreator.enums.ELEMENT_TYPES; index as iOpts">
                        <option [value]="elem.id">{{elem.label}}</option>
                      </ng-container>
                    </select>
                    <app-input-text (input)="onChangeInput($event.target.value)" label="element title" required
                      formControlName="title" class="item-width w-65 mg-tp mg-1">
                    </app-input-text>
                    <app-input-text (input)="onChangeInput($event.target.value)" label="element description"
                      [required]="form.controls.type.value === 'card'" [hidden]="form.controls.type.value !== 'card'"
                      type="textarea" formControlName="description" class="item-width w-100 mg-tp mg-1">
                    </app-input-text>
                  </div>
                  <div class="row item-width w-10 jc-space-between">
                    <button *ngIf="i !== 0" (click)="toggleForm().removeElement(i)" type="button"
                      class="item-width w-100">remove element</button>
                  </div>
                </form>
              </ng-container>
            </form>
            <div class="row mg-tp mg-1">
              <button (click)="toggleForm().addElement()" type="button" class="item-width w-20">add
                element</button>
            </div>
          </form>
        </div>
        <div class="row jc-space-between mg-tp mg-2">
          <h4 class="item-width w-40">LINES</h4>
          <button (click)="resetForm('lineForms')" type="button" class="item-width w-20">reset
            form</button>
          <form class="row" [formGroup]="chartCreator.linesFormArray">
            <form class="row jc-space-between" formArrayName="items">
              <ng-container *ngFor="let form of chartCreator.linesFormArray.get('items').controls; index as i">
                <h5 class="item-width w-100 mg-tp mg-1">LINE ID: line-{{i + 1}}</h5>
                <form class="row jc-space-between" [id]="'line-' + (i + 1)" [formGroupName]="i">
                  <div class="row item-width w-85 jc-space-between">
                    <app-input-text (input)="onChangeInput($event.target.value)" label="line name"
                      formControlName="name" class="item-width w-50 mg-tp mg-1"></app-input-text>
                    <form formArrayName="points" class="item-width w-100">
                      <h4 class="item-width w-100 mg-tp mg-1">COORDS</h4>
                      <ng-container *ngFor="let formCoords of form.get('points').controls; index as i1">
                        <h5 class="item-width w-100 mg-tp mg-1">COORD ID: coord-{{i1 + 1}}</h5>
                        <form class="row mg-tp mg-1" [id]="'coord-' + (i1 + 1)" [formGroupName]="i1">
                          <div class="row item-width w-85">
                            <app-input-text (input)="onChangeInput($event.target.value)"
                              label="coord X (min: 0, max: 100)" required formControlName="x" type="number"
                              class="item-width w-30 mg-rgh mg-3" max="100" min="0"></app-input-text>
                            <app-input-text (input)="onChangeInput($event.target.value)"
                              label="coord Y (min: 0, max: 100)" required formControlName="y" type="number"
                              class="item-width w-30" max="100" min="0"></app-input-text>
                            <form formArrayName="elements" class="item-width w-100"
                              *ngIf="formCoords.get('elements').controls.length > 0">
                              <h4 class="item-width w-100 mg-tp mg-1">ELEMENT TO COORDS</h4>
                              <ng-container
                                *ngFor="let formElements of formCoords.get('elements').controls; index as i2">
                                <h5 class="item-width w-100 mg-tp mg-1">ELEMENT ID: sub-element-{{i2 + 1}}</h5>
                                <form class="row mg-tp mg-1 jc-space-between"
                                  [id]="'line-' + (i + 1) + '-coord-' + (i1 + 1) + '-sub-element-' + (i2 + 1)"
                                  [formGroupName]="i2">
                                  <div class="row item-width w-85 ai-flex-end jc-space-between">
                                    <app-input-text (input)="onChangeInput($event.target.value)"
                                      label="coord X (min: 0, max: 100)" required formControlName="x" type="number"
                                      class="item-width w-45 mg-tp mg-1" max="100" min="0">
                                    </app-input-text>
                                    <app-input-text (input)="onChangeInput($event.target.value)"
                                      label="coord Y (min: 0, max: 100)" required formControlName="y" type="number"
                                      class="item-width w-45 mg-tp mg-1" max="100" min="0">
                                    </app-input-text>
                                    <app-input-text (input)="onChangeInput($event.target.value)"
                                      label="inner coord X (min: -100, max: 100)" required formControlName="inner_x"
                                      type="number" class="item-width w-45 mg-tp mg-1" max="100" min="-100">
                                    </app-input-text>
                                    <app-input-text (input)="onChangeInput($event.target.value)"
                                      label="inner coord Y (min: -100, max: 100)" required formControlName="inner_y"
                                      type="number" class="item-width w-45 mg-tp mg-1" max="100" min="-100">
                                    </app-input-text>
                                    <select (change)="onChangeInput($event.target.value)" required
                                      formControlName="type" class="item-width w-30 mg-tp mg-1">
                                      <ng-container
                                        *ngFor="let elem of chartCreator.enums.ELEMENT_TYPES; index as iOpts">
                                        <option [value]="elem.id">{{elem.label}}</option>
                                      </ng-container>
                                    </select>
                                    <app-input-text (input)="onChangeInput($event.target.value)" label="element title"
                                      required formControlName="title" class="item-width w-65 mg-tp mg-1">
                                    </app-input-text>
                                    <app-input-text (input)="onChangeInput($event.target.value)"
                                      label="element description"
                                      [required]="formElements.controls.type.value === 'card'"
                                      [hidden]="formElements.controls.type.value !== 'card'" type="textarea"
                                      formControlName="description" class="item-width w-100 mg-tp mg-1">
                                    </app-input-text>
                                  </div>
                                  <div class="row item-width w-10 jc-space-between">
                                    <button (click)="toggleForm().removePoint(formCoords.controls.elements, i2)"
                                      type="button" class="item-width w-100">remove element</button>
                                  </div>
                                </form>
                              </ng-container>
                            </form>
                          </div>
                          <div class="row item-width w-10 jc-space-between">
                            <button *ngIf="i1 !== 0" (click)="toggleForm().removePoint(form.controls.points, i1)"
                              type="button" class="item-width w-100 mg-btm mg-3">remove coord</button>
                            <button *ngIf="formCoords.get('elements').controls.length === 0"
                              (click)="toggleForm().addElementPoint(form.controls.points, i1)" type="button1"
                              class="item-width w-100">add element to this coord</button>
                          </div>
                        </form>
                      </ng-container>
                      <div class="row mg-tp mg-1">
                        <button (click)="toggleForm().addPoint(form.controls.points)" type="button"
                          class="item-width w-20">add
                          coord</button>
                      </div>
                    </form>
                  </div>
                  <div class="row item-width w-10 jc-space-between">
                    <button *ngIf="i !== 0" (click)="toggleForm().removeLine(i)" type="button"
                      class="item-width w-100">remove line</button>
                  </div>
                </form>
              </ng-container>
              <div class="row mg-tp mg-1">
                <button (click)="toggleForm().addLine()" type="button" class="item-width w-20">add
                  line</button>
              </div>
            </form>
          </form>
        </div>
        <div class="row mg-tp mg-3">
          <p *ngIf="showLoading">Loading...</p>
          <!-- <button (click)="makeChart()" type="button" class="item-width w-20">submit</button> -->
        </div>
        <div class="row mg-tp mg-3 item-width w-40">
          <label for="input-file" class="item-width w-100">Upload your start JSON</label>
          <input id="input-file" type="file" (change)="uploadChart($event.target.files)" placeholder="Upload your JSON"
            class="item-width w-100 mg-tp mg-1">
        </div>
        <div class="row mg-tp mg-3">
          <button (click)="downloadChart()" type="button" class="item-width w-20">Download chart JSON</button>
        </div>
      </div>
    </div>
    <div class="item-width w-45">
      <div class="graph-container" [ngClass]="{'no-header': !title}">
        <app-flow-chart *ngIf="flowChartData" [noAnimation]="true" [showAxes]="true" [flowChartData]="flowChartData">
        </app-flow-chart>
      </div>
    </div>
  </div>
</div>
