.bar-tooltip {
  position: absolute;
  background: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border: 2px solid transparent;
  transition: 0.3s;
  border-radius: 4px;
  width: 200px;
  .info-container {
    @include flex-layout();
    height: 100%;
    flex-shrink: 6;
    position: relative;
    transition: 0.3s;
    box-sizing: border-box;
    padding: 3%;
    .title {
      width: 100%;
      padding-top: 2%;
      box-sizing: border-box;
      overflow: hidden;
      font-weight: 700;
      font-size: 1.5em;
    }
    .description {
      width: 100%;
      box-sizing: border-box;
      padding-top: 2%;
      overflow: hidden;
      font-weight: 500;
    }
    .close-button {
      cursor: pointer;
      padding-bottom: 5%;
      color: get-color("error", "infos");
      font-size: 1.5em;
      margin-right: 0;
      margin-left: auto;
    }
  }
}
