.chart {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  &.hidden {
    overflow: hidden;
  }
  svg {
    overflow: visible;
  }
}

.dot {
  width: 14px;
  height: 14px;
  display: block;
  box-sizing: border-box;
  cursor: pointer;
  border: 1px solid;
  border-color: get-color("accent-dark", "generals");
  background-color: get-color("accent-light", "generals");
  border-radius: 50%;
  position: absolute;
  transition: 0.3s;
  &:hover {
    @include prop-desk-mobile(transform, scale(1.2), scale(1));
  }
}

.card,
.card-title {
  &.card-title {
    @include prop-desk-mobile(max-width, 600px, 160px);
    .info-container > .title {
      padding:  0;
      @include prop-desk-mobile(font-size, 3.5em, 2em);
      font-weight: 900;
    }
  }
  @include flex-layout();
  position: absolute;
  overflow: hidden;
  overflow-y: auto;
  border-radius: 4px;
  background-color: get-color("background-light");
  @include prop-desk-mobile(padding, 10px, 6px);
  @include prop-desk-mobile(max-height, 160px, 130px);
  @include prop-desk-mobile(max-width, 300px, 120px);
  width: auto;
  transition: 0.3s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  &:hover {
    @include prop-desk-mobile(
      box-shadow,
      (0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)),
      (0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24))
    );
  }
  .info-container {
    @include flex-layout();
    position: relative;
    transition: 0.3s;
    .title {
      padding-top: 2%;
      box-sizing: border-box;
      overflow: hidden;
      font-weight: 700;
      font-size: 1.5em;
    }
    .description {
      box-sizing: border-box;
      padding-top: 2%;
      overflow: hidden;
      font-weight: 500;
    }
    .see-info {
      cursor: pointer;
      padding-top: 4%;
      color: get-color("accent", "generals");
      font-size: 0.7em;
      margin-right: 0;
      margin-left: auto;
    }
  }
}
