.pie-tooltip {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border: 2px solid transparent;
  transition: 0.3s;
  .info-container {
    @include flex-layout(column);
    height: 100%;
    position: relative;
    transition: 0.3s;
    .title {
      padding-top: 2%;
      box-sizing: border-box;
      overflow: hidden;
      font-weight: 700;
      font-size: 1.5em;
    }
    .description {
      box-sizing: border-box;
      padding-top: 2%;
      overflow: hidden;
      font-weight: 500;
    }
    .close-button {
      cursor: pointer;
      padding-top: 5%;
      color: get-color("error", "infos");
      font-size: 1.5em;
    }
  }
}
