/* You can add global styles to this file, and also import other style files */
@import 'styles/index';

html, body {
  font-family: 'Raleway', sans-serif;
  width: 100%;
  height: 100%;
  & body {
    height: auto;
  }
  background-color: get-color('background');
  color: choose-contrast('background');
  margin: 0;
  padding: 0;
  @include prop-desk-mobile(font-size, 16px, 12px);
}

h1, h2, h3, h4, h5, h6, p, span, div {
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}
