<div class="page graph">
  <header *ngIf="title">
    <h1 [innerHtml]="title | uppercase"></h1>
  </header>
  <div class="graph-container" [ngClass]="{'no-header': !title}">
    <div class="masonry type-1" [ngClass]="{'selected': selected === 'line'}">
      <i *ngIf="selected === 'line'" (click)="selectChart('line')" class="material-icons close-modal">close</i>
      <div *ngIf="selected !== 'line'" class="overlay" (click)="selectChart('line')"></div>
      <app-line-chart [noAnimation]="noAnimation" *ngIf="showGraph"></app-line-chart>
    </div>
    <div class="masonry type-2" [ngClass]="{'selected': selected === 'pie'}">
      <i *ngIf="selected === 'pie'" (click)="selectChart('pie')" class="material-icons close-modal">close</i>
      <div *ngIf="selected !== 'pie' " class="overlay" (click)="selectChart('pie')"></div>
      <app-pie-chart [noAnimation]="noAnimation" *ngIf="showGraph"></app-pie-chart>
    </div>
    <div class="masonry type-3" [ngClass]="{'selected': selected === 'flow'}">
      <i *ngIf="selected === 'flow'" (click)="selectChart('flow')" class="material-icons close-modal">close</i>
      <div *ngIf="selected !== 'flow'" class="overlay" (click)="selectChart('flow')"></div>
      <app-flow-chart [noAnimation]="noAnimation" *ngIf="showGraph"></app-flow-chart>
    </div>
    <div class="masonry type-4" [ngClass]="{'selected': selected === 'bar'}">
      <i *ngIf="selected === 'bar'" (click)="selectChart('bar')" class="material-icons close-modal">close</i>
      <div *ngIf="selected !== 'bar'" class="overlay" (click)="selectChart('bar')"></div>
      <app-bar-chart [noAnimation]="noAnimation" *ngIf="showGraph"></app-bar-chart>
    </div>
  </div>
</div>
